@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#header-bar{
  background-color: #323639;
  color: white;
}
#pdf-controls{
  background-color: #323639;
  color: white;
}
#proxy-renderer {
  background-color: #525659;
}
#pdf-page-info{
  color: white;
}
#pdf-controls button{
  background-color: #525659;
}
#pdf-controls a{
  background-color: #525659;
}
svg path , svg polygon{
  fill: white;
}
#pdf-pagination-info{
  color: white;
}


